.topbar{
    background-color: #4287f5;
    font-size: 30;
    color: white;
    font-weight: bold;
}
.stack {

    margin-left: 20;
    margin-right: 20;
    margin-top: 20;
}
.star {
    height: 50;
    margin-top: 10;
    background-color: blueviolet;

}
.title {
    font-size: 22;
    color: black;
    margin-left: 0;
    margin-right: 5;
    margin-top: 10;
}
.name {
    font-size: 12;
    color: grey;
    margin-left: 0;
    margin-right: 5;
    margin-top: 5;
}
.full-review {
    font-size: 22;
    color: black;
    margin-left: 0;
    margin-right: 5;
    margin-top: 10;
}
.review {
    font-size: 18;
    color: black;
    margin-left: 0;
    margin-right: 5;
    margin-top: 15;
}
