<ActionBar title="Reviews Details" class="topbar">
</ActionBar>

<GridLayout rows="*" columns="*">
<StackLayout class="stack">
  <Label [text]="reviewDetailTitle" textWrap="true" class="title"></Label>
  <Label [text]="reviewerName" textWrap="true" class="name"></Label>
  <GridLayout rows="*" columns="*" class="star">
  </GridLayout>
  <Label text="Full Review" textWrap="true" class="full-review"></Label>
  <Label [text]="review" textWrap="true" class="review"></Label>
</StackLayout>
</GridLayout>
